<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    {% if title %}
        <title> My Movie Reviews - {{ title }}</title>
    {% else %}
        <title> My Movie Reviews </title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand">
        <div class="container py-3 d-flex justify-content-between align-items-center">
            <!-- 왼쪽 로고 -->
            <a class="brand" href="{% url 'reviews:review_list' %}">
                <span class="my">my</span>
                <span class="movie">Movie</span>
                <span class="reviews">Reviews</span>
            </a>

            <!-- 오른쪽 링크 -->
            <a class="header-link" href="{% url 'tmdb_api:movie_list' %}">
                영화 탐색
            </a>
            <a class="header-link" href="{% url 'reviews:create' %}">
                새 리뷰 작성
            </a>
            <a class="header-link" href="{% url 'chatbot:page' %}">
                챗봇 추천
            </a>
        </div>
        </nav>
    </header>
    <div class='container py-4'>
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
</body>
</html>